<!DOCTYPE html>
<html lang="en">


<head>
   
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="/admin-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin-assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/admin-assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/admin-assets/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/admin-assets/plugins/table/datatable/custom_dt_custom.css">
    <!-- END PAGE LEVEL CUSTOM STYLES -->
</head>

<body class="sidebar-noneoverflow">

    <!--  BEGIN MAIN CONTAINER  -->



    <!--  BEGIN CONTENT AREA  -->
     
    <div class="modal fade" id="categoryModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <svg> ... </svg>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text">Mauris mi tellus, pharetra vel mattis sed, tempus ultrices eros. Phasellus egestas sit amet velit sed luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Vivamus ultrices sed urna ac pulvinar. Ut sit amet ullamcorper mi. </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/admin-assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/admin-assets/js/popper.min.js"></script>
    <script src="/admin-assets/js/bootstrap.min.js"></script>
    <script src="/admin-assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/admin-assets/js/app.js"></script>


    <script src="/admin-assets/js/custom.js"></script>

</body>

<!-- Mirrored from designreset.com/cork/ltr/demo10/table_dt_custom.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Sep 2022 17:21:51 GMT -->

</html>