
<link rel="shortcut icon" href="favicons/.-6682-favicon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&amp;family=Roboto:wght@400;700&amp;display=swap"
    rel="stylesheet">
{{!--
<header class="header">
    <div class="header-main style--three love-sticky">
        <div class="container">
            <div class="header-inner position-relative px-0 mt-0 bg-transparent">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6 col-sm-9 col-6">
                        <div class="d-flex align-items-center">
                            <div class="logo"><a href="index.html"><img src="images/img-logo.svg" class="main-logo"
                                        alt=""> <img src="images/img-sticky-logo.svg" class="sticky-logo" alt=""></a>
                            </div>
                            <form class="search-form d-none d-sm-block ms-4" action="#">
                                <div class="form-group"><button type="submit"><img
                                            src="images/icons-search-gradient.svg" class="svg" alt=""></button>
                                    <input type="text" class="form-control mb-0" placeholder="Search item…">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div
                        class="col-lg-8 col-md-6 col-sm-3 col-6 d-flex align-items-center justify-content-end position-static">
                        <div class="nav-wrapper d-flex align-items-center">
                            <div class="nav-wrap-inner">
                                <ul class="nav">
                                    <li><a href="#">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home V1</a></li>
                                            <li><a href="home-v2.html">Home V2</a></li>
                                            <li><a href="home-v3.html">Home V3</a></li>
                                            <li><a href="home-v4.html">Home V4</a></li>
                                            <li><a href="home-v5.html">Home V5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Explore</a>
                                        <ul class="sub-menu">
                                            <li><a href="explore.html">Explore</a></li>
                                            <li><a href="profile.html">Profile</a></li>
                                            <li><a href="create.html">Create</a></li>
                                            <li><a href="wallet.html">Wallet</a></li>
                                            <li><a href="help-center.html">Help Center</a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-parent"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="author.html">Author</a></li>
                                            <li><a href="ranking.html">ranking</a></li>
                                            <li><a href="collection.html">Collection</a></li>
                                            <li><a href="item-details.html">Item Details</a></li>
                                            <li><a href="activity.html">Activity</a></li>
                                            <li class="current-menu-children"><a href="upload.html">Upload</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="404.html">404</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="dropdown ms-3"><a href="#" class="user-avatar dropdown-toggle"
                                        data-bs-toggle="dropdown"><img src="images/media-user.png" alt=""> <span
                                            class="user-status"><img src="images/icons-check.svg" class="svg"
                                                alt=""></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="profile.html"><img
                                                    src="images/icons-profile.svg" alt=""> Profile</a></li>
                                        <li><a class="dropdown-item" href="create.html"><img
                                                    src="images/icons-create.svg" alt=""> Create</a></li>
                                        <li><a class="dropdown-item" href="collection.html"><img
                                                    src="images/icons-collection.svg" alt=""> Collection</a></li>
                                        <li><a class="dropdown-item" href="wallet.html"><img
                                                    src="images/icons-wallet.svg" alt=""> Wallet</a></li>
                                        <li><a class="dropdown-item" href="explore.html"><img
                                                    src="images/icons-explore.svg" alt=""> Explore</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> --}}


<div class="banner ov-hidden">
    <div id="particles"></div>
    <div class="container">

        <div class="author-area">
            <div class="row text-center">
                <h1 class="text-white" style="font-size: 6vh; margin-top: -20%;">3 steps to become a top teacher on
                    Pradax</h1>
            </div>

            <div class="container mt-5">
                <div class="row d-flex justify-content-around text-center" style="margin-top: -18%;">
                    <div class="card m-5" style="width: 21rem; height:34rem;">
                        <h2 style="color: rgba(255, 0, 118, .9);">STEP 1</h2>
                        <img class="card-img-top" src="./images/Profile.png" alt="Card image cap" style=" width: 56%;height: 30%;margin-top: 5%;margin-left: 23%;">

                        <div class="card-body">
                            <h5 class="card-title text-white" style="margin-top: -8%;">Complete Teacher Profile
                            </h5>
                            <p class="card-text">Show off your skills,experience and certificates To Get More
                                Students</p>
                            <a href="/teacher/completeProfile" class="btn btn-primary">Complete Profile</a>
                        </div>
                    </div>
                    <div class="card m-5" style="width: 21rem; height:34rem;">
                        <h2 style="color: rgba(255, 0, 118, .9);">STEP 2</h2>
                        <img class="card-img-top rounded-circle"
                            src="https://i.pinimg.com/736x/28/64/d9/2864d9f843aa9f1d7b409a11e6db463d.jpg"
                            alt="Card image cap" style="width: 56%;height: 30%;margin-top: 5%;margin-left: 23%;">

                        <div class="card-body">
                            <h5 class="card-title text-white" style="margin-top: -8%;">Create a Classroom</h5>

                            <p class="card-text">Create an attractive Classroom on any topic in which you have
                                expertise.Then Publish it.</p>

                            <a href="#" class="btn btn-primary" style="margin-top: 8%;">Create Classroom</a>
                        </div>
                    </div>

                    <div class="card m-5" style="width: 21rem; height:34rem;">
                        <h2 style="color: rgba(255, 0, 118, .9);">STEP 3</h2>
                        <img class="card-img-top rounded-circle"
                            src="https://img.freepik.com/premium-vector/people-connection-cartoon-vector-icon-illustration-people-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-1455.jpg"
                            alt="Card image cap" style="width: 56%;height: 30%;margin-top: 5%;margin-left: 23%;">
                        <div class="card-body">
                            <h5 class="card-title text-white" style="margin-top: -8%;">Market Your Classroom</h5>
                            <p class="card-text">The best way to get more students market Your Classrooms to students
                            </p>
                            <a href="#" class="btn btn-primary" style="margin-top:20%;">How to Market?</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <section class="pt-120 pb-120">
</div>
</div>


<div class="container">
    <div class="row">
        x
    </div>
</div>
</div>
</footer><a href="#" class="back-to-top"><i class="fas fa-long-arrow-alt-up"></i></a>